Builds/

# =============== #
# Unity generated #
# =============== #
BoardgameAssistant/Temp/
BoardgameAssistant/Library/
BoardgameAssistant/Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
BoardgameAssistant/*.csproj
*.pidb
*.suo
*.sln
*.sln.hide
*.user
*.unityproj
*.booproj
.vs
